@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url(style/menu.css);
@import url(style/principal.css);
@import url(style/sobre.css);
@import url(style/grupo.css);

:root {
    --font-primary:"Roboto", sans-serif;
    --font-secundary:"Roboto slab", sans-serif;

    --body:#f5f1f1;
    --body-secundary:#6cbb58;

    --color-title-main:#e9aa1d;
    --color-title-primary:#393939;
    --color-title-secundary:#00512a;
    --color-title-tertiary:#a4c81e;

    --color-text-primary:#FFFFFF;
    --color-text-secundary:#7A7A7A;

};

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};

body {
    background: var(--body);
    
};