#main-section {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff; /* Ajuste a cor do texto conforme necessário */
}

#main-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.349), rgba(0,0,0,0)), url('img/Design sem nome.png') no-repeat center center;
    background-size: cover;
    z-index: 1;
}

.content {
    position: relative;
    z-index: 1;
}


.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: bottom;
    z-index: -1;
}

/* Adiciona o degradê */
.background-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0.5) 460%, rgba(0,0,0,0) 55750%);
    z-index: 1; /* Fica acima da imagem de fundo, mas abaixo do conteúdo */
}

.content {
    position: relative; /* Garante que o texto e botões fiquem acima do degradê */
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    z-index: 2;
}

.content h1 {
    color: white;
    font-size: 2rem;
    margin-bottom: 20px;
}

.buttons .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2rem;

    background-color: var(--color-title-tertiary); /* Cor do WhatsApp */

    color: white;
    padding: 1rem;
    margin: 0 12%;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s;
    text-transform: uppercase;
    font-weight: 600;

}

.buttons .btn img {
    height: 20px;
    width: 20px;
    margin-left: 5px;
}

.buttons .btn:hover {
    background-color: #128C7E;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (max-width: 600px) {
    .content-titulo {
        padding: 3rem;
        font-size: 1.5rem;
        font-family: var(--font-secundary);
        line-height: 2.3rem;
        font-weight: 500;
    } 
}
